* {
  color: #f4f4f4;
  font-family: Raleway;
  text-decoration: none;
}
.left-nav{
 float: left;
 margin-left: 150px;
 position: absolute;
left: 10px;
}
.left-nav li{
  display: inline-block;
    text-align: left;
  margin-left: 10px;
  
}
.right-nav{
  position: absolute;
 float: right;
 right: 10px;
 list-style: none;
 font-size: 1em;
 
}
.right-nav li{
  display:inline-block;
  text-align: right;
  margin-right: 10px;
}

.wrapper{
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 1.4em;

}
.footer{
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
}
.footer li{
  display: inline-block;
  font-size: .8em;
  text-decoration: none;
  margin-left: 25px;
}
.button {
  border: 1x solid black;
  border-radius: 5px;
  background-color: black;
  opacity: 0.5;
  font-color: white;
  text-decoration: none;
  font-size: .7em;
  padding: 10px;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  transition: 1s opacity;
}
.logo {
  width: 100px;
 display: inline-block;
  position: absolute;
  top: 16px;
  left: -70px;
 
}